body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 65rem;
  padding: 0 1rem;
}
.container:hover .bayan-label .button-horizon {
  visibility: visible;
}
.container:hover .bayan-label .subtitle {
  color: black;
}

.title {
  font-weight: 900;
  font-style: unset;
  font-size: 2rem;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-top: solid 0.1rem rgba(112, 112, 112, 0.5);
  cursor: pointer;
}

.bayan-input {
  appearance: none;
  margin: 0;
}

.bayan-label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.subtitle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 900;
  color: blue;
}
.button {
  margin: 0 0.5rem 0 1.25rem;
}
.button-horizon {
  content: '';
  display: block;
  width: 0.25rem;
  height: 1.25rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.35rem;
  transition: visibility 0.1s ease-in-out;
  transition: transform 0.3s ease-in-out;

  visibility: hidden;
}

.button-vertical {
  content: '';
  display: block;
  height: 1.25rem;
  width: 0.25rem;
  background-color: black;
  border-radius: 0.35rem;
  transform: rotate(90deg);
}

.image {
  align-self: center;
  height: 0;
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out;
}
.bayan-input:checked ~ .bayan-label .button-horizon {
  transform: rotate(45deg);
}
.bayan-input:checked ~ .bayan-label .subtitle-wrapper .subtitle {
  color: black;
}

.bayan-input:checked ~ .bayan-label .image {
  height: 100%;
  transform: scale(1);
  margin-bottom: 1.2rem;
}
.bayan-input:hover ~ .bayan-label .image {
  height: 100%;
  transform: scale(1);
  margin-bottom: 1.2rem;
}
.bayan-input:hover ~ .bayan-label .subtitle-wrapper .button-horizon {
  transform: rotate(45deg);
}

@media (max-width: 560px) {
  .title {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .button-horizon {
    width: 0.1875rem;
    height: 1rem;
  }
  .button-vertical {
    width: 0.1875rem;
    height: 1rem;
  }
  .image {
    max-width: 25rem;
  }
}
